@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primaryColor py-4 px-8 font-semibold text-15 flex items-center justify-center rounded-lg text-sm
    hover:text-white transition-all;
  }

  .layout {
    @apply max-w-7xl px-5 xl:px-0 w-full mx-auto;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Toastify__toast-container {
  margin-top: 60px;
}

.active {
  color: #ffc222;
}

.text-shadow {
  text-shadow: 1px 0 6px #000;
}

.text-sm-shadow {
  text-shadow: 1px 1px 2px #000;
}

.slick-arrow::before {
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 30px !important;
}

.slick-prev {
  left: -50px !important;
}

@media screen and (max-width: 1280px) {
  .slick-arrow::before {
    display: none !important;
  }
}

.border-footer::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
